*{
	font-family: arial;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header img{
	max-width: 250px;
}
header a{
	text-decoration: none;
	padding: 5px;
	color: #696868;
	transition: 0.5s;
}
header a:hover{
	color: #ff5c37;
	transition: 0.5s;
}
.m-10-100{
	margin: 10px 100px;
}
.home-bg{
	background-image: url("../images/road.jpg");
	background-size: cover;
	background-position: center;
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.home-bg a{
	text-decoration: none;
	color: white;
	font-size: 30px;
	background-color: #2d2d2db5;
	padding: 10px;
	transition: 0.5s;
}
.home-bg a:hover{
	color: #ff5c37;
	transition: 0.5s;
}
.text-big{
	background-color: #2d2d2db5;
	color: white;
	font-size: 50px;
	padding: 10px;
}
.about-bg{
	background-image: url("../images/desert.jpg");
	background-size: cover;
	background-position: center;
	height: 80vh;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-text{
	color: white;
	background-color: #2d2d2db5;
	padding: 20px;
}
.services-bg{
	background-image: url("../images/night.jpg");
	background-size: cover;
	background-position: center;
	height: 80vh;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.services-bg h1{
	color: white;
	background-color: #2d2d2db5;
	padding: 20px;
}
.text-services{
	color: white;
	background-color: #2d2d2db5;
	padding: 20px;
}
.contacts-bg{
	background-image: url("../images/taxi.jpg");
	background-size: cover;
	background-position: center;
	height: 80vh;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.contacts-bg ol li{
	color: white;
}
.text-contact{
	color: white;
	background-color: #2d2d2db5;
	padding: 20px;
}
.text-left{
	display: flex;
	justify-content: flex-start;
}
.text-right{
	display: flex;
	justify-content: flex-end;
}
.text-center{
	display: flex;
	justify-content: center;
}
.footer-bg{
	height: 50px;
	color: white;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media only screen and (max-width: 750px){
	header{
		flex-direction: column;
	}
	header a{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.m-10-100{
		margin: 10px;
	}
}